<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista pozycji</title>
</head>
<body>


<form th:action="@{/item/create}" method="POST" th:object="${item}">
    <table>
        <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${item.id}"/></td></tr>
        <tr><td></td><td><input type="hidden" id="invoiceId" name="invoiceId" th:value="${item.invoiceId}"/></td></tr>
        <tr><td>Opis pozycji:</td><td><input type="text" id="contents" name="contents" th:value="${item.contents}"/></td></tr>
        <tr><td>Ilość:</td><td><input type="text" id="numberOfItems" name="numberOfItems" th:value="${item.numberOfItems}"/></td></tr>
        <tr><td>Cena:</td><td><input type="text" id="price" name="price" th:value="${item.price}"/></td></tr>

        </td></tr>



        <tr><td></td><td> <button type="submit">Dodaj</button></td></tr>

    </table>
</form>
<br><br>
<a href="javascript:history.back();">Wstecz</a>

</body>
</html>