<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ewidencja faktur</title>
</head>
<body>


<form th:action="@{/invoice/create}" method="POST" th:object="${invoice}">
    <table>
        <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${invoice.id}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="invoiceNo" name="invoiceNo" th:value="${invoice.invoiceNo}"/></td></tr>
        <tr><td>Data utworzenia:</td><td><input type="date" id="invoiceDate" name="invoiceDate" th:value="${invoice.invoiceDate}"/></td></tr>
        <tr><td>Termin płatności:</td><td><input type="date" id="datePaid" name="datePaid" th:value="${invoice.datePaid}"/></td></tr>

        </td></tr>

        <tr><td></td><td> <button type="submit">Dodaj</button></td></tr>
    </table>
</form>

</body>
</html>