<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ewidencja klientów</title>
</head>
<body>
<h3>Dodawanie klientów</h3>


<form th:action="@{/user/create}" method="POST" th:object="${user}">
    <table>
        <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${user.id}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="firstname" name="firstname" th:value="${user.firstname}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="lastname" name="lastname" th:value="${user.lastname}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="street" name="street" th:value="${user.street}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="city" name="city" th:value="${user.city}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="zipCode" name="zipCode" th:value="${user.zipCode}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="company" name="company" th:value="${user.company}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="idNumber" name="idNumber" th:value="${user.idNumber}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="text" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="email" id="email" name="email" th:value="${user.email}"/></td></tr>
        <tr><td>Numer faktury:</td><td><input type="checkbox" id="state" name="state" th:value="${user.state}"/></td></tr>
        <tr><td>Data utworzenia:</td><td><input type="date" id="createDate" name="createDate" th:value="${invoice.createDate}"/></td></tr>

        </td></tr>



        <tr><td></td><td> <button type="submit">Zatwierdź</button></td></tr>
    </table>
</form>

</body>
</html>