<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pdf view</title>
    <style>
        @font-face {
            font-family: 'source-sans';
            font-style: normal;
            font-weight: 400;
            src: url(files/SourceSansPro-Regular.ttf);
            -fs-font-subset: complete-font;
        }
        body {
            font-family: 'source-sans';
        }
    </style>
</head>
<body>
<h1 style="text-align: center;"><strong>FAKTURA <span th:text="${listPdf.invoiceNo}"/></strong></h1>
<table border="2" cellspacing="2" cellpadding="2">
    <tbody>
    <tr>
        <td>sadfasdf</td>
        <td>ORYGINAŁ - kopia&nbsp;</td>
        <td>Data wystawienia:&nbsp;</td>
        <td><span th:text="${listPdf.invoiceDate}"/></td>
    </tr>
    <tr>
        <td>Data wystawienia&nbsp;</td>
        <td>&nbsp;/wykonania usługi</td>
        <td><span th:text="${listPdf.invoiceDate}"/></td>
    </tr>
    <tr>
        <td>&nbsp;Sprzedawca:</td>
        <td>&nbsp;Nabywca:</td>
    </tr>
    <tr>
        <td>
            <p>MaxBiuro<br /> ul targowa<br /> Łęczna<br /> tel. 23423423<br /> info@maxbiuro.pl<br /> tel. 242342342<br /> NIP: 121313123<br /> Bank: Iteligo<br /> Konto:2342 23423 234 234 2 234</p>
        </td>
        <td>
            <p>
                <span th:text="${listPdf.company}"/><br/>
                <span th:text="${listPdf.street}"/><br/>
                <span th:text="${listPdf.zipCode} "/>
                <span th:text="${listPdf.city}"/><br/>
                <br/><br/>
                NIP: <span th:text="${listPdf.idNumber}"/></p>
        </td>
    </tr>
    <tr>
        <td>&nbsp;Spos&oacute;b&nbsp;zapłaty:</td>
        <td>&nbsp;przelew&nbsp;7 dni</td>
    </tr>
    <tr>
        <td>&nbsp;Termin&nbsp;zapłaty:</td>
        <td><span th:text="${listPdf.datePaid}"/></td>
    </tr>
    </tbody>
</table>
<table border="3" cellspacing="1" cellpadding="1">
    <thead>
    <tr>
        <td style="width: 92px;">lp</td>
        <td style="width: 92px;">nazwa towaru/usługi</td>
        <td style="width: 92px;">ilość</td>
        <td style="width: 93px;">cena&nbsp;brutto</td>
        <td style="width: 93px;">wartość</td>
        <td style="width: 94px;">vat</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,iterator : ${listPdf.items}">
        <td><span th:text="${iterator.index+1}"/></td>
        <td><span th:text="${item.contents}"/></td>
        <td><span th:text="${item.numberOfItems}"/></td>
        <td><span th:text="${item.price}"/></td>
        <td><span th:text="${item.numberOfItems}*${item.price}"/></td>
        <td>23%</td>
    </tr>
    </tbody>
</table>

Do zapłaty :
<span th:text="${listPdf.total}"/>zł
<br><br>

</body>
</html>