<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista faktur</title>
    <style>
        @font-face {
            font-family: 'source-sans';
            font-style: normal;
            font-weight: 400;
            src: url(../files/SourceSansPro-Regular.ttf);
            -fs-font-subset: complete-font;
        }
        body {
            font-family: 'source-sans';
        }
    </style>
</head>
<body>
<h3>Lista faktur klienta: <span th:text="${userCompany}"/></h3>

    <table>
        <thead>
        <tr>
            <th>LP</th>
            <th>Numer faktury</th>
            <th>Data utworzenia</th>
            <th>Termin płatności</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice,iterator : ${listInvoices}">
            <td><span th:text="${iterator.index+1}"/></td>
            <td><span th:text="${invoice.invoiceNo}"/></td>
            <td><span th:text="${invoice.invoiceDate}"/></td>
            <td><span th:text="${invoice.datePaid}"/></td>
            <td><a th:href="@{./edit?id=} + ${invoice.id}">Edytuj</a></td>
            <td><a th:href="@{./delete?id=} + ${invoice.id}">Usuń</a></td>
            <td><a th:href="@{./create?id=} + ${userIdNo}">Dodaj fakturę</a></td>
            <td><a th:href="@{../item/view?id=} + ${invoice.id}">Lista pozycji</a></td>
            <td><a th:href="@{../item/create?id=} + ${invoice.id}">Dodaj pozycję</a></td>
            <td><a th:href="@{../pdf/view?id=} + ${invoice.id}">Podgląd faktury</a></td>
            <td><a th:href="@{../pdf/}+${invoice.invoiceNo.substring(7,9)}+'/'+${invoice.invoiceNo.substring(0,6)}+'_'+${invoice.invoiceNo.substring(7,9)}+.pdf">Pobierz PDF</a></td>
        </tr>
        </tbody>
    </table>
</form><br><br>
<a th:href="@{/}">Strona Główna</a>
<a th:href="@{/user/view}">Wstecz</a>
</body>
</html>