<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista faktur</title>
</head>
<body>
<h3>Lista pozycji faktury nr : <span th:text="${itemInvoiceNo}"/></h3>

    <table>
        <thead>
        <tr>
            <th>LP</th>
            <th>Opis pozycji</th>
            <th>Ilość</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoiceItem,iterator : ${listItems}">
            <td><span th:text="${iterator.index+1}"/></td>
            <td><span th:text="${invoiceItem.contents}"/></td>
            <td><span th:text="${invoiceItem.numberOfItems}"/></td>
            <td><span th:text="${invoiceItem.price}"/></td>
            <td><a th:href="@{./edit?id=} + ${invoiceItem.id}">Edytuj</a></td>
            <td><a th:href="@{./delete?id=} + ${invoiceItem.id}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</form>
<br><br>
<a th:href="@{/}">Strona Główna</a>
<a href="javascript:history.back();">Wstecz</a>
</body>
</html>