<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista klientów</title>
</head>
<body>
<h3>Lista klientów</h3>

    <table>
        <thead>
        <tr>
            <th>LP</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Ulica i nr</th>
            <th>Miasto</th>
            <th>Kod pocztowy</th>
            <th>Firma</th>
            <th>Pesel/NIP</th>
            <th>Nr. telefonu</th>
            <th>Email</th>
            <th>Status</th>
            <th>Data utworzenia</th>
            <th>Data końca umowy</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user,iterator : ${listUsers}">
            <td><span th:text="${iterator.index+1}"/></td>
            <td><span th:text="${user.firstName}"/></td>
            <td><span th:text="${user.lastName}"/></td>
            <td><span th:text="${user.street}"/></td>
            <td><span th:text="${user.city}"/></td>
            <td><span th:text="${user.zipCode}"/></td>
            <td><span th:text="${user.company}"/></td>
            <td><span th:text="${user.idNumber}"/></td>
            <td><span th:text="${user.phoneNumber}"/></td>
            <td><span th:text="${user.email}"/></td>
            <td><span th:checked="${user.state}? #{bool.true}: #{bool.false}"/></td>
            <td><span th:text="${user.createDate}"/></td>
            <td><span th:text="${user.contractExpDate}"/></td>
            <td><a th:href="@{./edit?id=} + ${user.id}">Edytuj</a></td>
            <td><a th:href="@{./delete?id=} + ${user.id}">Usuń</a></td>
            <td><a th:href="@{../invoice/view?id=} + ${user.id}">Lista faktur</a></td>
            <td><a th:href="@{../invoice/create?id=} + ${user.id}">Dodaj fakturę</a></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>