<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista faktur</title>
</head>
<body>
<h3>Lista faktur</h3>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Numer faktury</th>
            <th>Data utworzenia</th>
            <th>Termin płatności</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${listInvoices}">
            <td><span th:text="${invoice.id}"/></td>
            <td><span th:text="${invoice.invoiceNo}"/></td>
            <td><span th:text="${invoice.invoiceDate}"/></td>
            <td><span th:text="${invoice.datePaid}"/></td>
            <td><a th:href="@{./edit?id=} + ${invoice.id}">Edytuj></a></td>
            <td><a th:href="@{./delete?id=} + ${invoice.id}">Usuń&nbsp;</a></td>
            <td><a th:href="@{../item/view?id=} + ${invoice.id}">Lista pozycji&nbsp;</a></td>
            <td><a th:href="@{../item/create?id=} + ${invoice.id}">Dodaj pozycję&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
            <td><a th:href="@{../pdf/}+${invoice.invoiceNo.substring(7,9)}+'/'+${invoice.invoiceNo.substring(0,6)}+'_'+${invoice.invoiceNo.substring(7,9)}+.pdf">Podgląd PDF</a></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>