<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista faktur</title>
</head>
<body>
<h3>Lista faktur</h3>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Numer faktury</th>
            <th>Data utworzenia</th>
            <th>Termin płatności</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${listInvoices}">
            <td><span th:text="${invoice.id}"/></td>
            <td><span th:text="${invoice.invoiceNo}"/></td>
            <td><span th:text="${invoice.invoiceDate}"/></td>
            <td><span th:text="${invoice.datePaid}"/></td>
            <td><a th:href="@{../edit?id=} + ${invoice.id}">Edytuj</a></td>
            <td><a th:href="@{../delete?id=} + ${invoice.id}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>